<br><h1 class="display-5">Posts</h1><br>

<% Post.all.each do |post| %>

  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-success"><%= post.author %></strong>
      <h3 class="mb-0"><%= post.title %></h3>
      <div class="mb-1 text-muted"><%= post.datestamp %></div>
      <p class="mb-auto"><%=  get_lead_paragraph post.content %></p>
      <a href="/post/<%= post.id %>" class="stretched-link"></a>
    </div>
  </div>

<% end %>